{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="fh5co-title-box" style="background-image: url('{{blogs.image.url}}'); width:38.2%;z-index:555;background-size:cover;background-repeat:no-repeat;background-position:center center;position:relative;height:700px;width:100%">
    <div class="overlay" style="position:absolute;top:0;bottom:0;left:0;right:0;z-index:10;background:rgba(0,0,0,0.5)"></div>
    <div class="page-title" style="z-index:12;position:absolute;bottom:0;padding:30px ;width:100%;margin:0 auto;text-align:center">
        <span style="display:block;color:rgba(255,255,255,0.5);text-transform:uppercase;font-size:15px;letter-spacing:.05em;margin-bottom:10px">{{blogs.created_date}}</span>
        <h2 style="color:white;font-weight:300;font-size:72px">{{blogs.title}}</h2>
    </div>
</div>


<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
            <p>
            	{{blogs.description}}
            </p>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                   <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="https://sequoiares.org/_next/image?url=%2Fimages%2Fclean-energy.jpg&w=828&q=75" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">Renewable Energy Technologies</div>
                        <div class="most_fh5co_treding_font_123"> October 05, 2024</div>
                    </div>
                </div>
                   <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwKG9S7qEDPMVISJfChe-oHxTNWw5IDEPOUw&s" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">AI-Powered Healthcare Innovations</div>
                        <div class="most_fh5co_treding_font_123"> September 5, 2024</div>
                    </div>
                </div>
                   <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="https://media.licdn.com/dms/image/D4E12AQFgCxQrL1Mt0A/article-cover_image-shrink_720_1280/0/1676353795154?e=2147483647&v=beta&t=XIcCstAHgB-zex6V7mWzxLz3WwIyNJqr3ng-yP8aXQw" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">Breakthrough in Quantum Computing</div>
                        <div class="most_fh5co_treding_font_123"> April 28, 2024</div>
                    </div>
                </div>

                    <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpMHnvcg5LZgXPRcrEG1yHq9Bo3txpmZ3XSA&s" alt="img"
                                                              class="fh5co_most_trading"/></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">India's Rise as a Global Tech Hub</div>
                        <div class="most_fh5co_treding_font_123"> April 31, 2024</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Blogs</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
        	{% for i in all_blogs %}
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{{i.image.url}}" alt=""/></div>
                    <div>
                        <a href="{% url 'single' object_id=i.id %}"class="d-block fh5co_small_post_heading"><span class="">{{i.title}}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i>{{i.created_by}},{{created_date}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>
<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>


{% endblock %}